* {
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  background-color: #f1f3ff;
}
.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 20% 5% 10% 20%;
}

.hero-left h1 {
  color: black;
  font-family: Arial;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.hero-left p {
  color: #000;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.hero-left button {
  background-color: #5cb85f;
  color: white;
  width: 8rem;
  height: 2rem;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.hero-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hero-right img {
  width: 100%;
  height: auto;
}

/* Media Queries */

@media screen and (max-width: 760px) {
  .hero-left {
    padding: 10%;
  }

  .hero-left h1 {
    font-size: 25px;
  }

  .hero-left p {
    font-size: 12px;
  }
}
